.app {
  display: flex;
  flex-direction: column;
  background-color: #f3f2ef;
}

.app__body {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin: 0px 0px 20px 20px;
  padding: 25px 40px;
}
